.git
.github
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.DS_Store
.env
.vscode
node_modules
job_agent
offline
recommendation_app/go-live/doc
recommendation_app/go-live/notion
recommendation_app/go-live/plan
recommendation_app/offline-v1
recommendation_app/offline-v2/.cache
recommendation_app/offline-v2/doc
recommendation_app/offline-v2/plan
