.git
.gitignore
.env
.env.*
.vscode/
env.txt
job_agent/
offline/
recommendation_app/offline-v1/
recommendation_app/offline-v2/
recommendation_app/go-live/data/storage/
recommendation_app/go-live/doc/
recommendation_app/go-live/notion/
recommendation_app/go-live/plan/
**/__pycache__/
**/.DS_Store
**/*.pdf
**/*.png
